<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783992933181-sarouhru5n3u7in6v2if90g2eppbjqmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783992933181-sarouhru5n3u7in6v2if90g2eppbjqmc</string>
	<key>API_KEY</key>
	<string>AIzaSyDmvN__I9IRzSdoSJbIbQO7BUyi_RDvfeM</string>
	<key>GCM_SENDER_ID</key>
	<string>783992933181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brrm</string>
	<key>PROJECT_ID</key>
	<string>brrm-c62e3</string>
	<key>STORAGE_BUCKET</key>
	<string>brrm-c62e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783992933181:ios:9df7d3ad1067d1c6639354</string>
</dict>
</plist>